<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shused.project.shoes.dao.ShoesDAO">
	<insert id="insertDroppedShoes" parameterType="map">
		INSERT INTO `droppedshoes`
		(
			`userId`
			,`nickname`
			,`category`
			,`modelNumber`
			,`shoesName`
			,`date`
			,`imagePath`
			,`createdAt`
		)
		VALUES 
		(
			#{userId}
			,#{nickname}
			,#{category}
			,#{modelNumber}
			,#{shoesName}
			,#{date}
			,#{imagePath}
			,now()
		)
	</insert>
	
	<select id="selectDroppesShoes" resultType="com.shused.project.shoes.model.DroppedShoes">
		SELECT *
		FROM
			`droppedshoes`
		ORDER BY `createdAt` DESC
	</select>
	
	<insert id="insertUsedShoes" parameterType="map">
			INSERT INTO `usedshoes`
		(
			`userId`
			,`nickname`
			,`phoneNumber`
			,`category`
			,`modelNumber`
			,`shoesName`
			,`size`
			,`price`
			,`condition`
			,`dealMethod`
			,`place`
			,`explanation`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES 
		(
			#{userId}
			,#{nickname}
			,#{phoneNumber}
			,#{category}
			,#{modelNumber}
			,#{shoesName}
			,#{size}
			,#{price}
			,#{condition}
			,#{dealMethod}
			,#{place}
			,#{explanation}
			,#{imagePath}
			,now()
			,now()
		)
	</insert>
	
	<select id="selectUsedShoes" resultType="com.shused.project.shoes.model.UsedShoes">
		SELECT *
		FROM
			`usedshoes`
		ORDER BY `updatedAt` DESC
	</select>
	
	
	<select id="selectUsedShoesForDetail" resultType="com.shused.project.shoes.model.UsedShoes" parameterType="int">
		SELECT *
		FROM
			`usedshoes`
		WHERE
			`id` = #{UsedShoesId} <!-- 위의 id값과 dao에서 보내온 postId가 일치하는 메모만 가져온다 -->
	</select>
	
	<select id="selectUsedShoesByUserId" resultType="com.shused.project.shoes.model.UsedShoes" parameterType="int">
		SELECT *
		FROM
			`usedshoes`
		WHERE
			`userId` = #{userId}
	</select>
</mapper>