<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shused.project.shoes.dao.ShoesDAO">
	<insert id="insertDroppedShoes" parameterType="map">
		INSERT INTO `droppedshoes`
		(
			`userId`
			,`nickname`
			,`category`
			,`modelNumber`
			,`shoesName`
			,`date`
			,`imagePath`
			,`createdAt`
		)
		VALUES 
		(
			#{userId}
			,#{nickname}
			,#{category}
			,#{modelNumber}
			,#{shoesName}
			,#{date}
			,#{imagePath}
			,now()
		)
	</insert>
	
	<select id="selectDroppesShoes" resultType="com.shused.project.shoes.model.DroppedShoes">
		SELECT *
		FROM
			`droppedshoes`
		ORDER BY `createdAt` DESC
	</select>
</mapper>