<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shused.project.user.dao.UserDAO">
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user` (
			`loginId`
			,`password`
			,`nickname`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		)
		VALUES (
			#{loginId}
			,#{password}
			,#{nickname}
			,#{phoneNumber}
			,now()
			,now()
		)
		
	</insert>
	
	<!-- 회원가입시 중복체크 -->
	<select id="selectCountLoginId" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<select id="selectCountNickname" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`nickname` = #{nickname}
	</select>
	
	<select id="selectCountPhoneNumber" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`phoneNumber` = #{phoneNumber}
	</select>
	
	<!-- 로그인 -->
	<select id="selectUser" parameterType="Map" resultType="com.shused.project.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`nickname`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password} 
	</select>
	
	<select id="selectUserForSell" parameterType="int" resultType="com.shused.project.user.model.User">
		SELECT
			`id`
			,`nickname`
			,`phoneNumber`
		FROM
			`user`
		WHERE
			
	</select>

</mapper>
