@charset "UTF-8";

#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}

#item {
	position: relative;
	left:25%;
}

#join-box{
	width:35%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#input-item{
	width:90%;
}

.duplicate-btn {
	width:5rem;
}

.logoImage{
	width:280px;
	height:200px;
}

.logoImage-forDropped{
	width:200px;
	height:150x;
}

.main-bigbutton{
	width:500px;
	height:100px;
}

.mainPageShoes-image{
	width:200px;
	height:200px;
}

.scroll-wrap{
	white-space:nowrap;
	overflow-x:auto;
}

.scroll-element{
	display:inline-block;
}

#image_container{
	width:200px;
	height:200px;
}


